server:
  port: 8081

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:postgresql://localhost:5433/order_db
    username: postgres
    password: 123123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  # 2. Messaging Configuration (RabbitMQ)
  cloud:
    stream:
      bindings:
        orderPlaced-out-0:
          destination: order-topic
      rabbit:
        bindings:
          orderPlaced-out-0:
            producer:
              routing-key-expression: '''order-key'''

# 3. Service Discovery (Eureka Server)
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    fetch-registry: true
    register-with-eureka: true
  instance:
    prefer-ip-address: true